@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');


.mainContainerForSignup{
    /* background-color: #f0f2f5; */
    /* background-color: black; */
    background: url("https://images.pexels.com/photos/9786314/pexels-photo-9786314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100vh;
}

.subMainContainer{
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.logoText{
    font-size: 40px;
    text-align: start;
    margin-top: 0px;
    color: white;
}

.introText{
    font-size: 25px;
    text-align: start;
    margin-top: -40px;
    color: white;
    font-family: 'Playfair Display', serif;
}

.createAccountText{
    font-size: 20px;
    margin-top: 10px;
    text-align: start;
    margin-left: 30%;
    color: white;
}

.inputText{
    display: flex;
    margin-left: 30%;
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.btnforsignup{
    margin-left: 2%;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 180px;
    padding-right: 202px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.part{
    color: rgb(167, 127, 127);
}