.home {
    /* background-color: rgb(235, 238, 242); */
    /* background-color: black; */
    background: url("https://images.pexels.com/photos/13922575/pexels-photo-13922575.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* opacity: 0.9; */
}

.ComponentContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

