.home {
    background-color: rgb(235, 238, 242);
    /* background-color: black; */

}

.ComponentContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

